baseURL = "https://le-miric27.github.io/project-miric/"
languageCode = "en-us"
title = "Leonardo Mirić | Full-Stack Developer"
enableGitInfo = true
enableRobotsTXT = true

[params]
  author = "Leonardo Mirić"
  description = "Full-Stack Developer & Tech Enthusiast"
  email = "leo-miric@gmail.com"
  phone = "123"
  github = "https://github.com/leo-miric"
  linkedin = ""
  twitter = "https://twitter.com/johndoe"
  profileImage = "/assets/leo-miric.jpeg"
  dateFormat = "January 2, 2006"
  mainSections = ["blog"]
  formspreeEndpoint = "https://formspree.io/f/your-formspree-id"

[taxonomies]
  category = "categories"
  tag = "tags"

[markup]
  [markup.highlight]
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    style = "monokai"
    tabWidth = 4

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "CV"
    url = "/cv/"
    weight = 2
  [[menu.main]]
    name = "Blog"
    url = "/blog/"
    weight = 3
  [[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 4

[outputs]
  home = ["HTML", "RSS"]
  section = ["HTML", "RSS"]
