{{ define "main" }}
<div class="container mx-auto px-4 py-12">
    <div class="max-w-4xl mx-auto">
        <h1 class="text-4xl font-bold mb-8 dark:text-cream-100">{{ .Title }}</h1>
        {{ if .Content }}
            <div class="mb-12 prose dark:prose-invert max-w-none">{{ .Content }}</div>
        {{ end }}

        <div class="space-y-8">
            {{ range .Pages }}
            <div class="bg-white dark:bg-grape-600 rounded-lg p-6 shadow-md hover:shadow-lg transition duration-300 border border-cream-300 dark:border-grape-500">
                <h2 class="text-2xl font-bold mb-2 dark:text-cream-100">
                    <a href="{{ .Permalink }}" class="hover:text-mint-300 dark:hover:text-mint-300">{{ .Title }}</a>
                </h2>
                <div class="flex items-center text-sm text-gray-600 dark:text-cream-200 mb-4">
                    <span>{{ .Date.Format "January 2, 2006" }}</span>
                    {{ with .Params.categories }}
                    <span class="mx-2">•</span>
                    <span>{{ delimit . ", " }}</span>
                    {{ end }}
                </div>
                <p class="text-gray-700 dark:text-cream-200 mb-4">{{ .Description }}</p>
                <a href="{{ .Permalink }}" class="text-mint-400 hover:text-mint-500 dark:text-mint-300 dark:hover:text-mint-200 font-medium inline-flex items-center">
                    Read more
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
