{{ if .IsPage }}
{{ if eq .Section "blog" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary | truncate 160 }}{{ end }}",
  "author": {
    "@type": "Person",
    "name": "Leonardo Mirić",
    "url": "{{ .Site.BaseURL }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "publisher": {
    "@type": "Person",
    "name": "Leonardo Mirić"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "url": "{{ .Permalink }}"
}
</script>
{{ end }}
{{ end }}
